<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Unicesumar - Lista de Categorias</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Categorias</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>e-mail</th>
                    <th>Papel</th>
                    <th>Data de Cadastrp</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if (users.length > 0) { %>
                   
                    <%users.forEach((users) => { %>

                    <tr>
                        <td><%= users.id %></td>
                        <td><%= users.nome %></td>
                        <td><%= users.email %></td>
                        <td><%= users.papel %></td>
                        <td><%= users.data_cadastro %></td>
                    </tr>

                    <form action="/categories/delete" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir essa categoria?')">
                        <input type="hidden" name="id" value="<%= users.id %>">
                        <td><button type="submit" class="btn btn-danger">Excluir</button></td>
                    </form>

                    <% }) %>
                <% } else { %>

               

                <tr>
                    <td colspan="4">Nenhum usuário cadastrado</td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a href="categories/form" class="btn btn-primary mt-3">Adicionar</a>
        <a href="/" class="btn btn-secondary mt-3">Voltar</a>
    </div>

    <!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>